# Docker
# Build a Docker image 
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

# specific path build
trigger:
  branches:
    include:
    - master
    - feature/*
  paths:
    include:
    - /apis/poi/*

resources:
- repo: self

variables:

  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build And Unit Test
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      inputs:
        command: 'build'
        Dockerfile: '$(Build.SourcesDirectory)/apis/poi/Dockerfile'
        arguments: '--target build'
        tags: | 
          temp-image
    - task: Bash@3
      inputs:
        targetType: 'inline'
        script: |
          docker images
          docker create --name temp-container temp-image:$(tag)
          docker cp temp-container:/app/tests/UnitTests/TestResults/ $(Build.ArtifactStagingDirectory)/testresults 
          docker rm -fv temp-container
- stage: Build_Final
  displayName: Build Runtime Image
  jobs:  
  - job: Publish_Image
    displayName: Build and Publish Image
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: build
        dockerfile: '$(Build.SourcesDirectory)/apis/poi/Dockerfile'
        tags: |
          $(tag)

