# Docker
# Build a Docker image 
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker


name: trips

# specific path build
trigger:
  branches:
    include:
    - master
    - feature/*
  paths:
    include:
    - apis/trips/*

resources:
- repo: self

variables:
  azureSubscription: 'OTA-PRD-197(87d46c94-c5c9-4807-8e95-788ae5f0629b)'
  appName: 'openhackydy7auy8trips'
  dockerRegistryServiceConnection: '593474d4-1b31-441a-838b-adcd84a14eb0'
  imageRepository: 'devopsoh/api-trips'
  containerRegistry: 'openhackydy7auy8acr.azurecr.io'
  isMaster: $[eq(variables['Build.SourceBranch'], 'refs/heads/master')]
  dockerfilePath: '$(Build.SourcesDirectory)/apis/trips/Dockerfile'
  tag: '$(Build.BuildId)'

stages:
- stage: Build_Test
  displayName: Build and Unit Test
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: GoTool@0
      inputs:
        version: '1.14'
    - task: Go@0
      inputs:
        command: 'get'
        arguments: '-d'
        workingDirectory: '$(Build.SourcesDirectory)/apis/trips'
    - task: Go@0
      inputs:
        command: 'build'
        workingDirectory: '$(Build.SourcesDirectory)/apis/trips'
    - task: Go@0
      inputs:
        command: 'test'
        arguments: '-v ./tests -cover'
        workingDirectory: '$(Build.SourcesDirectory)/apis/trips'
- stage: Build_Final
  # Only push new image if it is master branch. E.g after PR approval.
  condition: and(succeeded(), eq(variables.isMaster, true)) 
  displayName: Build Runtime Image
  jobs:  
  - job: Publish_Image
    displayName: Build and Publish Image
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      displayName: Build And Push Image
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
- stage: Deploy
  # Only deploy image if pushed from master branch. E.g after PR approval.
  condition: and(succeeded(), eq(variables.isMaster, true)) 
  displayName: Deploy Container
  jobs:
  - job: Deploy
    steps:
    - task: AzureRmWebAppDeployment@4
      inputs:
        ConnectionType: 'AzureRM'
        azureSubscription: $(azureSubscription)
        appType: 'webAppContainer'
        WebAppName: $(appName)
        deployToSlotOrASE: true
        ResourceGroupName: 'openhackydy7auy8rg'
        SlotName: 'production'
        DockerNamespace: 'openhackydy7auy8acr.azurecr.io'
        DockerRepository: 'devopsoh/api-trips'
        DockerImageTag: '$(Build.BuildId)'
